input, textarea {
	&::placeholder {
		transition: opacity .2s ease;
		opacity: 1;
	}
	
	&:focus::placeholder {
		opacity: 0;
	}
}

.select {
	position: relative;
	
	select {
		cursor: pointer;

		border: 0.0625rem solid #E3E3E3;
		background: var(--white);
		color: #999999;

		width: 100%; min-height: 3.375rem;

		padding: 1rem 2rem 1rem 1rem;

		-webkit-appearance: none;

		transition: color .2s;

		@include _550 {
			padding: 1rem 1.3125rem;
		}

		&:focus {
			color: var(--black);
		}
	}

	svg {
		position: absolute;
		right: 0.75rem; top: 50%;
		transform: translate(0,-50%);

		width: 0.6875rem; height: 0.375rem;

		pointer-events: none;

		@include _550 {
			right: 1.3125rem;
		}
	}
}
