.novelty {

	margin-top: 2.25rem;

	@include _992 {
		margin-top: 5.875rem;
	}

	// .novelty__title

	&__title {
		text-align: center;
	}

	// .novelty__slider

	&__slider {
		
		margin-top: 1.625rem;

		@include _768 {
			margin-top: 3.0625rem;
		}
	}

	// .novelty__footer

	&__footer {
		display: flex;
		justify-content: center;

		padding-top: 2rem;

		@include _768 {
			padding-top: 2.8125rem;
		}
	}

	// .novelty__link

	&__link {
	}
}

