.breadcrumbs {

	padding-top: 0.8125rem;

	@include _992 {
		padding-top: 2.3125rem;
	}

	// .breadcrumbs__link

	&__link {
		color: var(--black);

		@media (hover: hover) {

			transition: color .15s;

			&:hover {
				color: var(--accent);
			}
		
			&:active {
				color: var(--accent);
			}
		}
	}

	// .breadcrumbs__separator

	&__separator {
	}

	// .breadcrumbs__current

	&__current {
	}
}
